<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Niconne&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body class="container-fluid" id="vue_app">
    <header>{{title}}</header>
    <div class="openScreen">
      <h1>{{title}}</h1>
      <div class="row">
        <div class="col-12 col-sm-6">
          <h2>- Players -</h2>
          <ul>
            <li v-for="(player, i) in players">
              <div>
                {{player.username}}
                <span @click="deletePlayer(i)"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-x-lg"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                    /></svg
                ></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-6">
          <div class="body">
            <div class="newPlayer">
              <h2>- New Player Maker -</h2>
              <form @submit.prevent="addUser">
                <label for="name">&nbsp;- Username:&nbsp;</label>
                <input
                  type="text"
                  placeholder="Username"
                  id="name"
                  name="name"
                  v-model="newUserName"
                  maxlength="10"
                />
                <div class="submitBtn">
                  <input
                    type="submit"
                    value="— Add User —"
                    :disabled="!newUserName.trim()"
                  />
                </div>
              </form>
            </div>
            <div class="currency">
              <label for="currency">&nbsp- Currency: &nbsp;</label>
              <select v-model="currency" id="currency">
                <option v-for="c in currencies" :value="c" :key="c">
                  {{c}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 startGame">
          By Jo&nbsp;
          <input
            @click="startGame()"
            type="submit"
            value="Start Game"
            :disabled="players.length < 2"
          />
          and Mo &nbsp;
        </div>
      </div>
    </div>
    <main>
      <div class="row">
        <div class="col-12 col-sm-3">
          <div
            class="player row"
            v-for="player in playersLeft"
            :id="player.index"
            :class="{'turn': player.turn}"
          >
            <div class="playerBody col-8 col-lg-10">
              <h2>{{player.username}}</h2>
              <div>Total: {{player.total}}</div>
            </div>
            <div
              class="col-4 col-lg-2"
              :class="{'numberAnim': player.gain !== 0}"
            >
              <span>{{player.gain > 0 ? '+' : ''}}{{player.gain}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div>Round {{round}}, {{players[round - 1]?.username}}'s Turn</div>
          <div>Currency: {{currencyChosen}}</div>
          <div
            id="canvasDiv"
            :class="{'unspinnable': !spinnable.canSpin}"
            @click="spinDreidel()"
          ></div>
          <div>dreidel result: {{gameState.result || "mistake"}}</div>
        </div>
        <div class="col-12 col-sm-3">
          <div
            class="player row"
            v-for="player in playersRight"
            :id="player.index"
            :class="{'turn': player.turn}"
          >
            <div class="playerBody col-8 col-lg-10">
              <h2>{{player.username}}</h2>
              <div>Total: {{player.total}}</div>
            </div>
            <div
              class="col-4 col-lg-2"
              :class="{'numberAnim': player.gain !== 0}"
            >
              <span>{{player.gain > 0 ? '+' : ''}}{{player.gain}}</span>
            </div>
          </div>
        </div>
        <div class="col-12 pot">Pot: {{pot}}</div>
        <div class="col-12 winner" :class="{'off': !winner}">
          Winner: {{winner}}
        </div>
      </div>
    </main>
    <footer></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="dreidel.js"></script>
  </body>
</html>
