@font-face {
  font-family: "Bucklane";
  src: url("bucklane.otf");
}

html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: linear-gradient(10deg, white, rgb(130, 205, 255));
    header {
      font-family: "Bucklane", script;
      font-size: 40px;
      text-align: center;
      padding-top: 10px;
    }
    main {
      #canvasDiv {
        width: 90%;
        background: red;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
    }
  }
}
